body {
  background-color: rgb(37, 37, 38);
}
header {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 90%;
  padding: 10px;
  margin: 20px;
}

.container {
  justify-content: space-between;
  align-content: space-around;
  max-width: 100%;
}

a {
  font-size: 50px;
  color: rgb(157, 160, 164);
}

button {
  padding: 10px;
  margin: 20px;
}
